.DS_Store
*.swp
*~.nib
.~lock.*
.svn
.idea

target/

.euml2
.umlproject

*.pbxuser
*.perspective
*.perspectivev3

*.mode1v3
*.mode2v3

*.iml
*.ipr
*.iws
*.ids
*.log
*.bak
*~
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

xcuserdata
